/* 
    Document   : 1024X600.css
    Created on : 13/01/2012, 22:26:19
    Author     : julio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html{
    zoom:75%;
    -moz-transform: scale(.65,.67);
    -o-transform: scale(.55,.67);
    -webkit-transform: scale(.55,.67);
    transform: scale(.55,.67);
    font-size: 45%;
}
iframe html{
    zoom:85%;
    -moz-transform: scale(.65,.67);
    -o-transform: scale(.55,.67);
    -webkit-transform: scale(.55,.67);
    transform: scale(.55,.67);
    font-size: 45%;
}
#nav a{
    font-size:150%;
    width:120px;
    height: 25px;
}
#nav a:hover{
    font-size:150%;
}
#nav ul ul {margin:-39px 120px ;}